<div class="container">

    <div class="carousel-container">
  
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
  
        <!-- Carousel content goes here -->
      
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://img.freepik.com/premium-vector/pensive-girl-online-sign-up-concept-female-character-flat-design-vector-cartoon-illustration-web-apps-landing-page_258190-1305.jpg?w=740" class="d-block w-100" alt="...">
              </div>
              <!-- <div class="carousel-item">
                <img src="https://img.freepik.com/free-photo/indian-woman-working-laptop-street-cafe-wearing-stylish-smart-clothes-jacket-glasses_1157-48457.jpg?w=900&t=st=1696827737~exp=1696828337~hmac=5d8f4ec8a8222a838348158c05068ea0a0157cfe8b6143fffcb5e65077432e09" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148310401.jpg?w=740&t=st=1696827851~exp=1696828451~hmac=fb2909d8143eca9a32f477a38ee07e8e753a0412708752c378dfc472c0d90aa7" class="d-block w-100" alt="...">
              </div> -->
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button> -->
        
      </div>
  
    </div>
  
    <div class="login-container">
  
      <h2>Login</h2>
  
      <!-- Login form content goes here -->
      
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSuccess()">
    <div class="form-group">
    <label for="email">Email ID</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    <small style="color: crimson; "*ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
    <small style="color: crimson; "*ngIf="loginForm.get('email')?.hasError('pattern')">Please enter a valid email address.</small>
    </div>
    </div>
    
     
    
        <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required >
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    <small style="color: crimson; "*ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
    <small style="color: crimson; "*ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8 characters.</small>
    </div>
    </div>
    
     
    
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  
    </div>
  
  </div><br><br>

  
    
        


  <router-outlet></router-outlet>
   