/* Style the login container */
.login-container {
  background-color: #ffffff;
  color: #353b65;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



/* Style the h2 element */
.login-container h2 {
  color: #353b65;
  margin-bottom: 20px;
}



/* Style the small link text */
.login-container small a {
  color: #353b65;
  text-decoration: underline;
}



/* Style the form labels */
.login-container label {
  color: #353b65;
}



/* Style the input fields */
.login-container input[type="email"],
.login-container input[type="password"] {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}



/* Add animation on hover for the submit button */
.login-container button.btn-primary {
  background-color: #353b65;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.login-container button.btn-primary:hover {
  background-color: #353b65; /* Change to a darker color on hover */
}
.container {

  display: flex;

  justify-content: space-between;

  align-items: center;

}

 

.carousel-container {

  flex: 1; /* Take up the left side */

  margin-right: 20px; /* Add some spacing between the carousel and login form */

}
.plans h2 {
  color: #989dc5;
  margin-bottom: 20px;
}



/* Style the plan cards in the left split */
.plan-card {
  background-color: #989dc5;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



/* Add hover animation to plan cards */
.plan-card:hover {
  background-color: #5a5f85; /* Change to a darker color on hover */
}



/* Style the buttons inside plan cards */
.plan-card button {
  background-color: #ffffff;
  color: #989dc5;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* Add hover animation to buttons */
.plan-card button:hover {
  background-color: #5a5f85; /* Change to a darker color on hover */
}
#pricing {
  background-color: #5a5f85;
  padding: 50px 0;
}



.pricing-table {
  display: flex;
  justify-content: center;
}



.plan {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 0 20px;
  border-radius: 5px;
  align-items: center;
}



.plan h3 {
  font-size: 24px;
  margin-bottom: 10px;
}



.plan p {
  font-size: 18px;
  margin-bottom: 20px;
}



.plan ul {
  list-style: none;
  margin-bottom: 20px;
}



.plan ul li {
  margin-bottom: 10px;
}



.login-container {

  flex: 1; /* Take up the right side */

}

