
<section class="banner">
    <div class="container">
      <div class="banner-text">
        <!-- <h1>Call Detail Record (CDR) Analysis Made Easy</h1>
        <p><strong>Unlock valuable insights from your call data with our powerful CDR analysis tools.</strong></p> -->
        
  
      
  
          <!-- Add more cards here -->
  
    
        <form  (ngSubmit)="onsuccess1()">
        <button type="submit" class="btn btn-primary"  >Make a call</button>
        </form><br><br>
        <form  (ngSubmit)="onsuccess2()">
        <button type="submit" class="btn btn-primary" >view call history</button>
      </form>
      </div>
    </div>
    <img class="banner-image" src="https://preview.ibb.co/bMi5Y6/banner_img.png" alt="monitoring" >
  <!-- </section>
  
  <div class="container">
    <div class="row">
      <div class="mb-30 col-md-6 col-lg-4">
        <div class="card">
        <img class="card-icon" src="https://image.ibb.co/cFV8mR/monitoring.png" alt="monitoring" >
        <h3 class="card-title">Analytics</h3>
        <p class="card-text">CDRs are used for various analytical purposes, such as identifying call trends, optimizing network resources, and improving service quality</p>
        <a class="card-link" href="#">Learn more</a>
        </div>
      </div>
      <div class="mb-30 col-md-6 col-lg-4">
        <div class="card">
        <img class="card-icon" src="https://image.ibb.co/jfmg6R/cloud_firewalls.png" alt="monitoring" >
        <h3 class="card-title">Compliance</h3>
        <p class="card-text">CDRs help ensure compliance with legal and regulatory requirements related to telecommunications.</p>
        <a class="card-link" href="#">Learn more</a>
        </div>
      </div>
      <div class="mb-30 col-md-6 col-lg-4">
        <div class="card">
        <img class="card-icon" src="https://image.ibb.co/evyiLm/backups.png" alt="monitoring" >
        <h3 class="card-title">Real-time and Historical Data</h3>
        <p class="card-text">CDRs can be collected in real-time and stored for historical analysis and reporting.</p>
        <a class="card-link" href="#">Learn more</a>
        </div>
      </div>
      
    </div>
  </div> -->
  <router-outlet></router-outlet>
