<!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Hello Admin!!
              </h2>
              <img src="../assets/images/plug.png" alt="">
            </div>
            <p>
             Let's explore the Cdr's!These different types of CDRs cater to diverse telecommunications and business needs, allowing for in-depth analysis or quick insights into call activities.
            </p>
            <a routerLink="/viewcdr">
              Explore
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="https://img.freepik.com/free-vector/flat-call-center-concept-background_23-2148185430.jpg?w=740&t=st=1697562756~exp=1697563356~hmac=16660357290c4d0360887f3f7169fd0ad54e5969ce6989e162c140f308a4c313" alt="" />
            </div>
            <div class="img-box b2">
              <img src="https://img.freepik.com/premium-vector/smartphone-hacker-man-icons_24877-73561.jpg?w=740" alt="" />
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Explore CDR's
        </h2>
        <img src="../assets/images/plug.png" alt="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="https://img.freepik.com/free-vector/telecommuting-online-concept_23-2148485909.jpg?w=740&t=st=1697563034~exp=1697563634~hmac=22d9e8cc8a75f3eb8298a3ded3b56f974bdbca77e4a41bbb3ba86969d605a434" alt="">
            </div>
            <div class="detail-box">
              <h5>
              Varieties of CDR's
              </h5>
              <p>
                Call Detail Records (CDR) come in various formats and types, including full CDRs that capture all call details, compact CDRs with summarized information, and extended .
              </p>
              <button class="btn " routerLink="/viewcdr" >View</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="https://img.freepik.com/free-vector/isometric-hiring-concept-background_23-2148116518.jpg?w=740&t=st=1697563177~exp=1697563777~hmac=8c1b921513a0eeb256dedf5b4403da0235c95f31427e8ee64f2a8e31392f68a0" alt="">
            </div>
            <div class="detail-box">
              <h5>
                
              </h5>
              <p> CDRs that provide additional context and data for in-depth analysis, offering flexibility for diverse telecom and communication system needs.These CDR varieties enable businesses to track, monitor, and analyze their communication activities, helping to optimize operations and improve customer service.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end blog section -->


 <!-- footer section -->
 <div class="b-example-divider"></div>

 <div class="container">
   <footer class="py-3 my-4">
     <ul class="nav justify-content-center border-bottom pb-3 mb-3">
       
     </ul>
     <p class="text-center text-body-secondary">&copy; 2023 CDR Website, Inc</p>
   </footer>
 </div>
 
   
   <!-- footer section -->
  <router-outlet></router-outlet>