<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="hero_area">
    <!-- slider section -->
        <section class=" slider_section ">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail_box">
                  <h1>
                    CDR <br>
                    Generator <br>
                    
                  </h1>
                  <p>
                    Explore the types of CDR!!!
                  </p>
                  <a routerLink="/login" class="">
                    Sign Up
                    </a>
                </div>
              </div>
              <div class="col-lg-5 col-md-6 offset-lg-1">
                <div class="img_content">
                  <div class="img_container">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="img-box">
                            <img src="https://img.freepik.com/free-photo/front-view-woman-talking-phone-holding-tablet_23-2148567177.jpg?w=740&t=st=1697457046~exp=1697457646~hmac=7552336c0f2cfe2f694e37f5f076cf2f7bfb9b544fefb1a5f4d60e5a7c8903d1" alt="">
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="img-box">
                            <img src="../assets/images/slider-img.jpg" alt="">
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="img-box">
                            <img src="../assets/images/slider-img.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                  </a>
                </div>
    
              </div>
            </div>
          </div>
        </section>
        <!-- end slider section -->
    </div>
        <!--cdr's-->
    
        <section class="service_section layout_padding">
          <div class="container">
            <div class="heading_container">
              <h2>
                Varieties of CDR's
              </h2>
              <img src="../assets/images/plug.png" alt="">
            </div>
      
            <div class="service_container">
              <div class="box">
                <div class="img-box">
                  <img src="https://img.freepik.com/free-vector/hands-free-phone-calling-abstract-concept-illustration_335657-2209.jpg?w=740&t=st=1697543834~exp=1697544434~hmac=861f45bcdd4244d22ffea71717e1f045f5870d839e380b6bf3360308a9d71a5f" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Voice Call detail Record
                  </h5>
                  <p>
                    Data record that contains information about a phone call, including call start and end times, phone numbers, and call duration, used for billing and analysis in telecom networks.
                  </p>
                </div>
              </div>
              <div class="box active">
                <div class="img-box">
                  <img src="https://img.freepik.com/free-vector/business-deal_52683-6807.jpg?w=740&t=st=1697543932~exp=1697544532~hmac=5b2c3e450182e8d67aaf667aa9161124bd285154abf48f6f25279f26a0cacf97" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Sms/Mms Call detail Record
                  </h5>
                  <p>
                    Data record containing information about text and multimedia messages, including sender and receiver, timestamps, and message content, used for billing and analysis in telecom networks.
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="img-box">
                  <img src="https://img.freepik.com/free-vector/friends-video-calling-concept_23-2148504260.jpg?w=900&t=st=1697544000~exp=1697544600~hmac=d7d8f5b1099a2a8eef9805092649fc5afadb3cb9f633621ab9341a5b2eae6ecc" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Voip Call detail Record
                  </h5>
                  <p>
                    Data record that logs details of voice over IP (VoIP) calls, including call initiation, endpoints, duration, and other relevant call information, used for billing and analysis in VoIP networks.
                  </p>
                </div>
              </div>
              <div class="box ">
                <div class="img-box">
                  <img src="https://img.freepik.com/free-vector/house-searching-concept-landing-page_23-2148317954.jpg?w=900&t=st=1697544043~exp=1697544643~hmac=36d78d4faf4508b93e390d95d03a8c6576602745178a4ca3017ce0b06342527f" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Location Call detail Record
                  </h5>
                  <p>
                    Data record that captures information about a mobile device's location, including timestamps, coordinates, and cell tower data, used for tracking and billing in mobile networks.
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="img-box">
                  <img src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_23-2148309692.jpg?w=900&t=st=1697544120~exp=1697544720~hmac=cc111ca27d8c8f65fb7cd88e6db83640841011ef0d4bbc253631455ffcd9789d" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Datauseage Call detail Record
                  </h5>
                  <p>
                    Data record that logs data consumption, including timestamps, volume, and data type, used for billing and analysis in mobile and internet service providers.
                  </p>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <a href="https://en.wikipedia.org/wiki/Call_detail_record">
                Read More
              </a>
            </div>
          </div>
        </section> 
    <!-- footer section -->
    <div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Register</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">services</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 CDR Website</p>
  </footer>
</div>

  
  <!-- footer section -->
       </body>
</html>